AWS_REGION=us-east-1
DDB_TABLE=Hotels
# Optional separate table for bookings
DDB_BOOKINGS_TABLE=Bookings
DDB_GUESTS_TABLE=Guests
# For local development you can set AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY
# AWS_ACCESS_KEY_ID=your_key
# AWS_SECRET_ACCESS_KEY=your_secret
PORT=3000
